.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;
  padding-bottom: 2rem;
}

.hero_text {
  order: 2;
  padding: 2rem;
}

.hero_text h1 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.hero_text p {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 172%;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.btn1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #ffffff;
  background-color: #5b2585;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: none;
}

.btn2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
  background-color: #fff;
  color: #5b2585;
  border-color: #5b2585;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border-width: 1px;
}

.hero_images {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  order: 1;
}

.image {
  width: 10rem;
  height: 10rem;
}

/* Tablet */
@media (min-width: 768px) {
  .hero_images {
    padding-right: 20rem;
  }

  .hero_text {
    padding: 2rem 5rem;
  }
}

/* Desktop  */
@media (min-width: 1024px) {
  .hero_section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 7rem 7rem;
  }

  .hero_text {
    padding: 0;
  }

  .hero_text h1 {
    padding-right: 2rem;
    font-size: 2.5rem;
    order: 1;
  }

  .hero_text p {
    font-size: 0.9rem;
    line-height: 172%;
  }

  .hero_images {
    padding-right: 0;
    padding-left: 4.5rem;
    order: 2;
  }

  .image {
    width: 14rem;
    height: 14rem;
    margin-right: 1rem;
  }

  .btns {
    gap: 1.5rem;
  }

  .btn1 {
    font-size: 0.8rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.3rem;
  }

  .btn2 {
    font-size: 0.8rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.3rem;
  }
}
