.hero {
    position: relative;
    top: 4.8em;
    height: 11  0vh;
    background-color: #fff;
    border-bottom: 1px solid gray;
}

.hero_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 7em;
}

.hero_text > h1 {
    font-size: 2.7em;
    width: 70%;
    font-weight: 700;
}

.btn {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

.btn1 {
    width: 8em;
    height: 2.5em;
    font-size: 1.5em;
    color: #fff;
    background-color: #5B2585;
    border-radius: 5px;
    cursor: pointer;
}

.btn2 {
    width: 8em;
    height: 2.5em;
    color: #5B2585;
    background-color: #fff;
    border: 1px solid #5B2585;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.hero_text > p {
    width: 80%;

    font-size: 1.2em;
}

.hero_section {
    padding: 4em;
    display: flex;
    gap: 2em;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.images > div {
    display: flex;
    gap: 2em;
}