@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

.section {
  width: 100%;

  padding-top: 4rem;

  background: #fdfaff;
}

.div {
  display: flex;
  flex-direction: column;
}

.img_div {
  display: flex;
  justify-content: center;
}

.image {
  width: 410px;
  height: 410px;
  left: 40px;
  top: 0px;
}

.statsimg {
  position: absolute;
  width: 10rem;
  height: 3.7rem;
  top: 22rem;
  left: 18rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.text_div {
  padding: 3rem;
}

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #5b2585;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.heading {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 48px;
  padding-right: 30px;
  color: #343434;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.heading span {
  color: #5b2585;
}

.list {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  list-style: none;

  display: flex;
  align-items: center;

  color: #222222;

  /* flex: none; */
  display: flex;
  order: 0;
  flex-grow: 0;
}

.list span {
  padding-right: 0.5rem;
}

.btn {
  cursor: pointer;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 19px;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 1rem;

  color: #5b2585;

  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #5b2585;
}

.pointer {
  position: relative;
  top: 0.1rem;
  left: 0.1rem;
}

@media (min-width: 1024px) {
  .div {
    display: flex;
    flex-direction: row;
    padding: 4rem;
  }

  .image {
    width: 610px;
    height: 610px;
  }

  .title {
    font-size: 14px;
  }

  .heading {
    padding-right: 150px;
  }

  .statsimg {
    width: 17rem;
    height: 6rem;
    top: 35rem;
    left: 25.3rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }
}
