.slider {
    padding: 3em;
}
.slider h1 {
    text-align: center;
    margin-bottom: 2em;

}

.card {
    width: 25em;
    height: fit-content;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}

.name {
    display: flex;
    gap: 1em;
    margin-top: 1.5em;
    
}

.name div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card p {}

.quote {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}



/* .slider > h1 {
    font-size: 2.1em;
    font-weight: 500;
    text-align: center;
} */

/* .slide {
  overflow: hidden;
} */



@media screen and (max-width: 640px) {
    .card {
        width: fit-content;
    }

    .card p {
        line-height: 1em;
    }


}